* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    background-color: rgb(6, 6, 6);
}

header {
    flex-direction: column;
    background-color: rgb(6, 6, 6);
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    max-height: 70px;

}

img {
    display: flex;
    width: 90px;
    margin-left: 1px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5%;
    font-weight: bold;
}

ul li {
    display: flex;
    align-items: center;
    gap: 45px;
    padding: 0px 20px;
}

a {
    color: rgb(255, 29, 191);
    text-decoration: none;
}

a:hover {
    color: white;
}

main {
    
    background: r;
}

#seccion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(37, 36, 36);
    border-radius: 80px;
    margin-top: 80px;
}

.imgn {
    width: 350px;
    height: 350px;
}

.todo_texto {
    color: rgb(255, 29, 191);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    font-size: 3rem;
}

#seccion2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    font-weight: 600;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    line-height: 45px;
    font-family:Arial, Helvetica, sans-serif
}

.parrafo {
    color: rgb(255, 29, 191);
}